body {
  background-image: linear-gradient(to right, #2a2a2a, #191919);
}

.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.thankyou{
  font-size: 16px;
}

.FeedbackForm{
  background-color: #e7e7e7;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
}


.title {
  font-weight: bold;
  color: #bb8ce5;
  padding-bottom: 5px;
}


.textField{
  margin-bottom: 8px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 500px;
}


.textBox{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  margin-top: 2px;
  padding-left: 10px;

}

.textBox + p {
  color: gray;
  height: 0px;
  padding: 2px 2px;
  text-align: left;
  font-size: 14px;

}

.submitButton {
  margin-top: 15px;
  background-color: #d3a1ff;
  border: 0px;
  width: 500px;
}

.submitButton:hover {
  background-color: #ddbeff;
}